
<div class="list">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          接口示例
        </mat-panel-title>
      </mat-expansion-panel-header>

         <mat-accordion multi>
           <mat-expansion-panel *ngFor="let item of interfaceList">
             <mat-expansion-panel-header>
               <mat-panel-title>
                 {{item.name}}
               </mat-panel-title>
             </mat-expansion-panel-header>
               <p class="exCon" *ngFor="let n of item.children" (click)="changetab(n)">{{n.name}}</p>
           </mat-expansion-panel>
         </mat-accordion>

    </mat-expansion-panel>
  </mat-accordion>
</div>

  <app-doc class="con" [data]="data"></app-doc>

